<link rel="stylesheet" href="css/footer.css">

<footer class="footer text-center">
    <div>
        <div>
            <h3><%= locals.title %></h3>
            <p>&copy; 2025 <%= locals.title %>. Tous droits réservés.</p>
        </div>
    </div>
</footer>