<link rel="stylesheet" href="css/footer.css">

<footer class="footer text-center">
    <div>
        <div>
            <h2>Bold 13</h2>
            <p>&copy; 2025 Bold 13. Tous droits réservés.</p>
        </div>
    </div>
</footer>