<link rel="stylesheet" href="css/footer.css">

<footer class="footer text-center">
    <div>
        <div>
            <h3>Bold 13</h3>
            <p>&copy; 2025 bold 13. Tous droits réservés.</p>
        </div>
    </div>
</footer>