<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/erreur.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Bond 13 - 404</title>
</head>
<body>
    <main>
        <section class="container erreur-quatre-cent-quatre">
            <h1 class="text-center">404</h1>
            <p class="text-center">La page que vous cherchez n'existe pas</p>
            <p class="text-center">Retourner à la <a href="/acceuil">page d'acceuil</a></p>
        </section>
    </main>
</body>
</html>


