<section class="container-fluid">
    <section class="jumbotron text-center">
        <h2 class="display-3">Bold 13</h2>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Dignissimos quisquam rem numquam fuga delectus saepe molestias debitis explicabo ipsam excepturi?
            A accusantium sunt excepturi amet quas repudiandae, perferendis odit ad?
        </p>
        <a href="#" class="btn btn-lg btn-primary">Learn more</a>
    </section>
</section>