<section>
    <h2>Membre TV</h2>
    <hr>
    <table class="table table-hover table-striped text-center">
        
        <tr>
            <th>NOM</th>
            <th>PRENOM</th>
            <th>TRAVAIL</th>
        </tr>

        <% membre.forEach(element=> { %>
            <tr>
                <td>
                    <%= element.nom %>
                </td>
                <td>
                    <%= element.prenom %>
                </td>
                <td>
                    <%= element.travail %>
                </td>
            </tr>
            <% }); %>
    </table>
</section>