<link rel="stylesheet" href="css/footer.css">

<footer>
    <div>
        <div>
            <h3>Mon Premier Projet MVC</h3>
            <p>&copy; 2025 Mon Premier Projet MVC. Tous droits réservés.</p>
        </div>
    </div>
</footer>