<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulaire programme</title>
</head>
<body>
    <%- include("navbar") %>

    <main>
        <form action="/" method="post">
            
        </form>
    </main>

    <%- include("footer") %>
</body>
</html>