<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulaire programme</title>
</head>
<body>
    <%- include("navbar") %>

    <main>

        

        <section id="formulaireProgramme">
            <form action="/ajoutProgramme" method="post">
                <div class="nom">
                    <label for="nomProgramme">Nom</label>
                    <input type="text" name="nomProgramme" id="nomProgramme">
                </div>
    
                <div class="dateDiffusion">
                    <label for="diffusion">Date diffusion</label>
                    <input type="date" name="diffusion" id="diffusion">
                </div>
    
                <div class="heureDiffusion">
                    <label for="heure_diffusion">Heure diffusion</label>
                    <input type="time" name="heure_diffusion" id="heure_diffusion">
                </div>
    
                <div class="description">
                    <label for="description">Description</label>
                    <textarea name="description" id="description"></textarea>
                </div>

                <div class="bouton">
                    <input type="submit" value="Entree">
                </div>
            </form>
        </main>
    
        </section>
        
    <%- include("footer") %>
</body>
</html>