<link rel="stylesheet" href="css/navbar.css">
<link rel="stylesheet" href="css/style.css">

<header>
    <h1>Chaîne TV</h1>

    <nav>
        <ul>
            <li><a href="/apropos">À propos</a></li>
            <li><a href="/formulaireProgrammeTv">Formulaire Programme Tv</a></li>
            <li><a href="/programmeTV">Programme TV</a></li>
        </ul>
    </nav>
</header>
