<link rel="stylesheet" href="css/navbar.css">

<nav>
    <ul>
        <li><a href="/appropos">À propos</a></li>
        <li><a href="/formulaireProgrammation">Formulaire Programmation</a></li>
        <li><a href="/programmeTV">Programme TV</a></li>
    </ul>
</nav>