<section class="container">
    <h2>Profil</h2>
    <section>
        <p>nom : <span><%= user.nom %></span></p>
        <p>Prenom : <span><%= user.prenom %></span></p>
        <p>Email : <span><%= user.email %></span></p>
        <p>Date de naissance : <span><%= user.date_naissance %></span></p>
    </section>

    <section>
        <a href="/logout" class="btn btn-primary">Deconnexion</a>
    </section>
</section>