<section>
    <h2>Programme TV</h2>
    <hr>

    <section class="container programme">
        <% programme.forEach(element=> { %> 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= element.nom %></h5>
                    <hr>
                    <iframe src="<%= element.lien %>" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p class="card-text"><%= element.description %></p>
                </div>
            </div>
        <% }); %>
    </section>
    
</section>