footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer>div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer>div>div {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}