header {
    background-color: #112456;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: bisque;
}

nav {
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding: 0.7em 1.4em;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav a:hover {
    color: burlywood;
}